@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.stepper-root {
  width: 100%;
  min-height: 0;
  padding: 0;
  .stepper {
    display: table;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  .step {
    display: table-cell;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    &.bg-primary {
      .content {
        &::after {
          border-left-color: $primary;
        }
      }
    }
    &.bg-success {
      .content {
        &::after {
          border-left-color: $success;
        }
      }
    }
    &.bg-info {
      .content {
        &::after {
          border-left-color: $info;
        }
      }
      cursor: pointer;
    }
    &.bg-not-visited {
      background-color: $gray-300;
    }
    .circle {
      width: 32px;
      height: 32px;
      margin: 0 10px;
      border-radius: 50%;
      text-align: center;
      padding: 1;
      font-size: 16px;
      display: block;
      border-width: 2px;
      border-style: solid;
    }
    .content {
      &::after {
        content: ' ';
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
        border-bottom: 50px solid transparent;
        border-left: 30px solid $gray-300;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: 100%;
        z-index: 2;
      }
      &::before {
        content: ' ';
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
        border-bottom: 50px solid transparent;
        border-left: 30px solid white;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        margin-left: 2px;
        left: 100%;
        z-index: 1;
      }
    }
    .title {
      margin-top: 4px;
      text-align: center;
      display: block;
    }
    &::before {
      padding: 0;
    }
    // background: rgb(224, 224, 224);
    .step-text {
      display: flex;
      justify-content: center;
    }
  }
}
