.hight-100 {
  height: 100%;
}

.border-flat {
  border-radius: 0 !important;
}

.pt-70 {
  padding-top: 70px;
}

.pt-85 {
  padding-top: 85px;
}

.gray-400 {
  background: $gray-100;
}

.cursor-pointer {
  cursor: pointer;
}

.maze-custom-tabs {
  .nav {
    & .nav-item {
      & .nav-link {
        border-left: 5px solid transparent;
        color: $blockquote-small-color;
        &.active {
          background-color: $white;
          border-color: $primary !important;
        }
      }
    }
  }

  & .tab-content {
    height: calc(100vh - 220px);
    overflow-y: auto;
  }
}

label {
  &.required {
    &::after {
      content: '*';
      margin-left: $caret-spacing;
      color: $danger;
    }
  }
}

.form-group {
  &.required {
    &::before {
      content: '*';
      position: absolute;
      top: -15px;
      color: $danger;
    }
  }
}

.font-size-lg {
  font-size: $font-size-lg;
}
