/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap"; // react bootstrap styles

.windowCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 56px);
}

.mar-lt-10 {
    margin-left: 10px;
}

.ma-tp-10 {
    margin-top: 10px;
}

.ant-message {
    z-index: 1049 !important;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px) {
    .windowCenter {
        height: calc(100vh - 176px);
    }
}